h1 {
    color: #00ff00;
	text-align: center;
}
h2 {
	text-align: center;
}
h3 {
    text-align: left;
}
.test {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #00ff00;
}
p#out_num,
p#out_num1,
p#out_num2 {
    text-align: center;
}